@page "/formlet"

<h1>Formlet</h1>

<p>
    @DynamicFragment
</p>

@functions {
  protected override void OnInit()
  {
    DynamicFragment = Flazor.Elmish.Extensions.CreateRenderFragment(Test.CalculatorView);
    //DynamicFragment = Test2.Create();
  }

  RenderFragment DynamicFragment;
}
