@page "/"

<h1>Reproduce problem</h1>

<p>
  The result: @Reproduce()
</p>

<p>
  I was expecting: (1,2,3,4)
</p>

<p>
  This is even more weird: @ReproduceWeird()
</p>


@functions {
string Reproduce()
{
  return ReproduceIt.TestStrings();
}

string ReproduceWeird()
{
  return ReproduceIt.TestMixed();
}
}
